body {
    padding-top: 95px;
}
.navbar {
    border-radius: 0px;
    margin-bottom: 0px;
}
.tab{
    height:100px;
}
.navbar-brand {
    float: left;
    font-size: 18px;
    height: 96px;
    line-height: 20px;
    padding: 13px;
}
.navbar-inverse .navbar-nav > li > a {
    color: #fff;
    font: bold 0.9em helvetica;
}
.navbar-right {
    margin-right: 40px;
    margin-top: 25px;
}
.container-fluid {
    width: 90%;
}
.navbar-toggle {
	margin-top: 30px;
}
.jumbotron {
    box-shadow: 0 0 2px 0 rgba(50, 50, 50, 0.75) inset;
    -webkit-box-shadow: 0 0 2px 0 rgba(50, 50, 50, 0.75) inset;
    -moz-box-shadow:    0 0 2px 0 rgba(50, 50, 50, 0.75) inset;
}
.jumbotron{
    background-image: url(../images/main-photo.jpg);
    background-attachment: fixed;
    background-size: cover;
    height: 100vh;
    position: relative;
    margin-top: -95px;
}
/*.navbar-inverse{
    background-color:#222;
    border-color:#080808
}*/
a:focus, a:hover{
    text-decoration:none;
}
.h4, h4 {
    line-height: 26px;
    text-align: justify;
}
.page-header {
    border-bottom: none;
    margin: 40px 0 35px;
    padding-bottom: 9px;
}
.photo-aboutme{
    background-image: url("../images/me.jpg");
    background-position: 1px center;
    background-size: 100% auto;
    border-radius: 300px;
    display: block;
    height: 300px;
    width: 300px;
}
.tools{
    background-color: #999;
    margin-top: 60px;
}
.logos{
    float: right;
    margin-top: 10px;
    margin-bottom: 10px;
    position: relative;
}
.logos img{
    margin-left: 10px;
}
.logos-title{
    float:left;
    margin-top: 30px;
}
.logos-title h2{
    margin:0;
    font-size:24px;
}
.sticky{
    background-color:#222;
}
.navbar-fixed-top{
    transition: all 0.4s ease;
}
.portfolio-container{
    background-image: url(../images/sky.jpg);
    background-size: cover;
    background-attachment: fixed;
    height: 100%;
    position: relative;
}
.portfolio-container h1{
    font-size:63px;
}
.page-header h1{
    font-size:30px;
    font-weight:bold;
}
.contact{
    background-color:#222;
}
.contact h1{
    color:#fff;
}
.contact-info{
    float:left;
    width:250px;
    margin-bottom: 15px;
}
.contact-info a{
    color:#fff;
}
.contact-info span{
    color:#fff;
}
.contact-info img{
    margin-right:15px;
}
.thumbnail{
    background-color: rgba(255, 255, 255, 0.5);
}
.thumbnail img{
    width:400px;
}
.jumbotron h1{
    color: white;
    font-weight: bold;
    text-align: center;
    text-shadow: 1px 1px 1px black;
    margin-top: 15%;
}
.navbar-inverse .navbar-toggle {
    background-color: #333;
}
.row{
    margin-bottom: 65px;
}
@media screen and (max-width: 760px) {
    #bs-example-navbar-collapse-1 {
        background-color: #222;
        border-radius: 0 0 10px 10px;
    }
}