@import "core-variables.less";
@import "style-base.less";
<!------------------LOGO AND MENU------------------>


/*------------------HERO SECTION------------------*/
.hero{
    background: rgb(242,172,0);
    background: radial-gradient(circle, rgba(242,172,0,1) 34%, rgba(153,82,0,1) 100%);

    .container{
        display: flex;
        flex-direction: row;

        .text{
            margin-top: 2em;
            -webkit-transform: rotate(-10deg) skew(-10deg, 0);
            -moz-transform: rotate(-10deg) skew(-10deg, 0);
            -ms-transform: rotate(-10deg) skew(-10deg, 0);
            -o-transform: rotate(-10deg) skew(-10deg, 0);
            transform: rotate(-10deg) skew(-10deg, 0);
            padding: 6em 2em;

            h4, h3, h2{
                color: white;
            }

            h4{
                width: 150px;
                background: @color-primary;
                text-align: center;
                padding: 10px;
                text-transform: uppercase;
            }

            h3{
                font-size: ceil(@font-size-h3 * 1.7);
            }

            h2{
                font-size: ceil(@font-size-h2 * 3);
                line-height: 1;
            }
        }
    }

    .img{
        background-image: url("../images/flying-chickens.png");
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
}

/*------------------HIGHLIGHTS------------------*/
.header{
    .display-flex;
    background-color: @color-primary;
    z-index: 999;

    .container{
        .display-flex;
        justify-content: space-between;
        padding: .7em;
    }

    .logo{
        display: inline-block;
        text-indent: -9000px;
        background-image: url(../images/ph-logo.png);
        width: 100px;
        height: 100px;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: contain;
    }

    ul.nav{
        .display-flex;
        align-items: center;

        li, li a{
            font-family: @headings-font-family;
            color: white;
            font-weight: bold;
            font-size: @btn-default-font-size;

            .button{
                color: @btn-default-color
            }
        }

        li{
            padding: 10px 30px;
        }
    }
}

/*------------------HIGHLIGHTS------------------*/
.hightlights{
    padding: 55px 0;
    .display-flex;
    justify-content: center;
    column-gap: 20px;

    .cards{
        .display-flex;
        border: 1px solid #000;
        width: 50%;

        .content{
            padding: 1.5em;

            p{
                margin: 10px 0;
            }

            .button{
                padding:  5px 10px;
            }
        }

        .img{
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
        }

        &.card-1{
            .img{
                background-image: url("../images/soda.jpg");
            }
        }
        &.card-2{
            .img{
                background-image: url("../images/icecreamcone.jpg");
            }
        }
    }
}

/*------------------NEW LOCATION ANNOUNCEMENT------------------*/
.new-location{
    .display-flex;
    background-image: url("../images/new-bg.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-top: 10px solid @color-primary;

    .container{
        .display-flex;

        .content{
            .display-flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-align: center;
            padding: 2em;
        }

        .img{
            display: flex;
            justify-content: center;

            img{
                width: 450px;
                height: 450px;
                .display-flex;
            }
        }

        .content{
            p{
                margin: 20px 0;
            }
        }
    }

}

/*------------------OUR SPECIAL MENU------------------*/
.special-menu{
    margin: 60px auto;

    h5{
        text-align: center;
        margin-top: 45px;
        color: @color-tertiary;
    }

    ul.tab{
        .display-flex;
        background-color: #f3f3f3;
        max-width: 550px;
        border-radius: 48px;
        margin: 20px auto;
        font-family: @headings-font-family;

        li{
            padding: 15px 35px;
            font-size: 12px;
            color: #666;
        
            &.active{
                background: @color-secondary;
                color: @color-primary;
                border-radius: 35px;
            }
        }
    }
}

.specials{
    .display-flex;
    justify-content: center;
    column-gap: 20px;
    padding: 1.5em;
    .display-wrap;

    h5{
        color: @color-tertiary;
    }

    .cards{
        border: 1px solid #000;
        width: 32%;
        border-radius: 15px;
        padding: .5em;
        margin: 0.5em 0;

        img{
            width: 100%;
            height: 250px;
            object-fit: cover;
            border-radius: 10px;
        }

        .content{
            padding: 10px;

            .shop{
                .display-flex;
                justify-content: space-between;

                span{
                    color: black;
                }
            }

            p{
                margin: 10px 0;
            }

            span{
                font-family: @headings-font-family;
                color: @color-primary;
                font-weight: bold;
            }
        }
    }
}
footer{
    background-color: @color-tertiary;

    .container{
        .display-flex;
        padding: 2em;
    }

    .column-third{
        h6, p{
            color: white;
            margin-bottom: 10px;
        }

        .logo{
            margin-bottom: 10px;
        }

        .terms{
            font-size: @font-size-small;
        }

        .form{
            .display-flex;
            flex-direction: column;

            .button{
                margin-top: 10px;
                width: 60%;
            }
        }
    }
}

// MEDIA QUERIES
@media (min-width: 1140px) {
    .hero .container {
        max-width: 1140px;
    }
}

@media (max-width: 1140px){
    .hero .container{
        .text {
            padding: 6em;

            h3 {
                font-size: 33px;
            }
        }

        .img{
            background-position: center left;
        }
    }

    .hightlights{
        .cards{
            width: 45%;

            .content{
                padding: 1em;
            }
        }
    }
}

@media (max-width: 900px){
    .hero .container{
        .text {
            padding: 6em 2em;
        }

        .img{
            background-position: top left;
            background-size: 140%;
        }
    }

    .specials .cards {
        width: 40%;
    }
}

@media (max-width: 768px){
    .specials .cards {
        width: 70%;
    }
}

@media (max-width: 480px){
    .specials .cards {
        width: 85%;
    }
}

@media (max-width: 320px){
    .specials .cards {
        width: 85%;
    }
}