@import "style-base.less";

/*----------------------HEADER--------------------*/
.nav{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0;
    padding: 0;

    & > li{
        margin: 0 1rem;
        overflow: hidden;
    }
}

.menu-button-container{
    display: none;
    height: 100%;
    width: 30px;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.menu-button,
.menu-button::before,
.menu-button::after{
    display: block;
    background-color: #fff;
    position: absolute;
    height: 4px;
    width: 30px;
    transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
    border-radius: 2px;
}


.menu-button{
    &:before{
        content: '';
        margin-top: -8px;
    }

    &:after{
        content: '';
        margin-top: 8px;
    }
}

#menu-toggle{
    display: none;

    &:checked + .menu-button-container .menu-button::before{
        margin-top: 0px;
        transform: rotate(405deg);
    }

    &:checked + .menu-button-container .menu-button{
        background: rgba(255, 255, 255, 0);
    }

    &:checked + .menu-button-container .menu-button::after{
        margin-top: 0px;
        transform: rotate(-405deg);
    }
}

/*------------------HERO SECTION------------------*/
.hero{
    background: rgb(242,172,0);
    background: radial-gradient(circle, rgba(242,172,0,1) 34%, rgba(153,82,0,1) 100%);

    .container{
        display: flex;

        .text{
            margin-top: 1em;
            -webkit-transform: rotate(-10deg) skew(-10deg, 0);
            -moz-transform: rotate(-10deg) skew(-10deg, 0);
            -ms-transform: rotate(-10deg) skew(-10deg, 0);
            -o-transform: rotate(-10deg) skew(-10deg, 0);
            transform: rotate(-10deg) skew(-10deg, 0);
            padding: 6em 2em;

            h4, h3, h2{
                color: #fff;
                margin: 0;
            }

            h4{
                width: 150px;
                background: @color-primary;
                text-align: center;
                padding: 10px;
                text-transform: uppercase;
            }

            h3{
                font-size: ceil(@font-size-h3 * 1.7);
            }

            h2{
                font-size: ceil(@font-size-h2 * 3);
                line-height: 1;
            }
        }
    }

    .img{
        background-image: url("../images/flying-chickens.png");
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
}

/*------------------HIGHLIGHTS------------------*/
.header{
    .display-flex;
    background-color: @color-primary;
    z-index: 999;

    .container{
        .display-flex;
        justify-content: space-between;
        padding: .7em;
    }

    .logo{
        display: inline-block;
        text-indent: -9000px;
        background-image: url(../images/ph-logo.png);
        width: 100px;
        height: 100px;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: contain;
    }

    ul.nav{
        .display-flex;
        align-items: center;

        li, li a{
            font-family: @headings-font-family;
            color: #fff;
            font-weight: bold;
            font-size: @btn-default-font-size;

            .button{
                color: @btn-default-color
            }
        }

        li{
            padding: 1em;
        }
    }
}

/*------------------HIGHLIGHTS------------------*/
.hightlights{
    padding: 4em 1em;
    .display-flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1em;

    .cards{
        .display-flex;
        border: 1px solid #000;
        width: 50%;
        box-sizing: border-box;
        flex: 1 0 400px;

        .content{
            padding: 1.3em;

            p{
                margin: 10px 0;
            }

            .button{
                padding:  5px 10px;
            }
        }

        .img{
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
        }

        &.card-1{
            .img{
                background-image: url("../images/soda.jpg");
            }
        }
        &.card-2{
            .img{
                background-image: url("../images/icecreamcone.jpg");
            }
        }
    }
}

/*------------------NEW LOCATION ANNOUNCEMENT------------------*/
.new-location{
    .display-flex;
    background-image: url("../images/new-bg.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-top: 10px solid @color-primary;

    .container{
        .display-flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: 0 auto;

        .content{
            .display-flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-align: center;
            padding: 2em;
        }

        .img{
            display: flex;
            justify-content: center;

            img{
                width: 450px;
                height: 450px;
                .display-flex;
            }
        }

        .content{
            p{
                margin: 20px 0;
            }
        }
    }

}

/*------------------OUR SPECIAL MENU------------------*/
.special-menu{
    margin: 60px auto;

    h5{
        text-align: center;
        margin-top: 45px;
        color: @color-tertiary;
    }

    ul.tab{
        .display-flex;
        justify-content: center;
        background-color: #f3f3f3;
        width: 100%;
        max-width: 670px;
        border-radius: 48px;
        margin: 1em auto;
        font-family: @headings-font-family;

        li{
            padding: 15px 35px;
            font-size: 12px;
            color: #666;
        
            &.active{
                background: @color-secondary;
                color: @color-primary;
                border-radius: 35px;
            }
        }
    }
}

.specials{
    .display-flex;
    justify-content: center;
    column-gap: 1.2em;
    padding: 1.5em;
    .display-wrap;

    h5{
        color: @color-tertiary;
    }

    .cards{
        border: 1px solid #000;
        width: 31%;
        border-radius: 15px;
        padding: .5em;
        margin: 0.5em 0;

        &.card-3{
            .img{
                position: relative;

                .countdown{
                    .display-flex;
                    background: @color-primary;
                    width: 133px;
                    height: 35px;
                    border-radius: 5px;
                    position: absolute;
                    top: 5px;
                    left: 10px;
                    padding: 0.3em;

                    .icon.icon-clock{
                        background-size: contain;
                        background-position: center;
                        background-repeat: no-repeat;
                        background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3C!-- Generator: Adobe Illustrator 26.3.1, SVG Export Plug-In . SVG Version: 6.00 Build 0) --%3E%3Csvg version='1.1' id='Capa_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 512 512' style='enable-background:new 0 0 512 512;' xml:space='preserve'%3E%3Cstyle type='text/css'%3E .st0%7Bfill:%23ffffff;%7D%0A%3C/style%3E%3Cg%3E%3Cg%3E%3Cpath class='st0' d='M256,512c141.3,0,256-114.7,256-256S397.3,0,256,0S0,114.7,0,256S114.7,512,256,512z M237.7,109.7 c0-10.1,8.2-18.3,18.3-18.3s18.3,8.2,18.3,18.3v137.5l84.6,67.7c7.9,6.3,9.1,17.8,2.8,25.7c-3.6,4.5-8.9,6.9-14.3,6.9 c-4,0-8-1.3-11.4-4l-91.4-73.1c-4.3-3.5-6.9-8.7-6.9-14.3L237.7,109.7L237.7,109.7z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
                    }

                    p#countDown{
                        position: absolute;
                        margin-left: 28px;
                        color: #fff;
                        font-weight: bold;
                    }
                }
            }
        }

        img{
            width: 100%;
            height: 250px;
            object-fit: cover;
            border-radius: 10px;
        }

        .content{
            padding: 10px;

            .shop{
                .display-flex;
                justify-content: space-between;

                span{
                    color: black;
                }
            }

            p{
                margin: 10px 0;
                height: 50px;
            }

            span{
                font-family: @headings-font-family;
                color: @color-primary;
                font-weight: bold;
            }
        }
    }
}
footer{
    background-color: @color-tertiary;

    .container{
        .display-flex;
        padding: 2em;
    }

    .column-third{
        h6, p{
            color: #fff;
            margin-bottom: 10px;
        }

        .logo{
            margin-bottom: 10px;
        }

        .terms{
            font-size: @font-size-small;
        }

        .form{
            .display-flex;
            flex-direction: column;

            .button{
                margin-top: 10px;
            }
        }
    }
}

// MEDIA QUERIES
@media (max-width: 1140px){
    .hero .container{
        max-width: 1140px;

        .text{
            padding: 6em;

            h3{
                font-size: 33px;
            }
        }

        .img{
            background-position: center left;
        }
    }
}

@media (max-width: 900px){
    .menu-button-container{
        display: flex;
    }

    .nav{
        position: absolute;
        top: 0;
        margin-top: 122px;
        left: 0;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;
        z-index: 99;

        & > li{
            display: flex;
            justify-content: center;
            margin: 0;
            padding: 0.5em 0;
            width: 100%;
            color: #fff;
            background-color: #222;


            &:not(:last-child){
                border-bottom: 1px solid #444;
            }
        }
    }

    #menu-toggle ~ .nav li{
        height: 0;
        margin: 0;
        padding: 0;
        border: 0;
        transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }

    #menu-toggle:checked ~ .nav li{
        border: 1px solid #333;
        height: 4em;
        padding: 0.5em;
        transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }

    .hero .container{
        .text{
            padding: 6em 2em;

            h3{
                font-size: 28px;
            }
        }

        .img{
            background-position: top left;
            background-size: 140%;
        }
    }

    .hightlights{
        .cards{
            &.card-2{
                .content{
                    order: 2;
                }

                .img{
                    order: 1;
                }
            }
        }
    }

    .specials{
        .specials{
            .cards{
                &.card-1, &.card-2{
                    flex: 1 0 300px;
                }

                &.card-3{
                    flex: 1 0 300px;
                }
            }
        }
    }
}

@media (max-width: 768px){
    .hero .container .text{
        padding: 3em 2em;

        h2{
            font-size: ceil(@font-size-h2 * 1.9);
        }
    }

    .specials{
        .cards{
            &.card-1, &.card-2,&.card-3{
                flex: 1 0 300px;
            }
        }
    }

    .new-location{
        .container{
            flex-direction: column-reverse;

            .column-even{
                width: 80%;
            }

            .img{
                margin: 0 auto;

                img{
                    width: 220px;
                    height: 220px;
                }
            }

            .content{
                margin: 0 auto;
                padding: 2em 2em 0;
            }
        }
    }
}

@media (max-width: 480px){
    .hero .container{
        .text{
            padding: 3em 1em;

            h4{
                width: 110px;
                padding: 6px;
                font-size: ceil(@font-size-h4 * 0.7);
            }

            h3{
                font-size: ceil(@font-size-h3 * 0.65);
            }

            h2{
                font-size: ceil(@font-size-h2 * 1.5);
            }
        }

        .img{
            background-size: 150%;
        }
    }

    .hightlights{
        .cards{
            flex-direction: column;
            flex: none;
            width: 93%;

            .column-even{
                width: 100%;
            }

            .content{
                order: 2;
            }

            .img{
                order: 1;
                width: 100%;
                height: 200px;
            }
        }
    }

    .new-location .container .content{
        padding: 2em 0 0;

        h5 {
            margin-bottom: 0;
        }
    }

    .special-menu{
        .tabs ul.tab{
            width: 85%;

            li{
                background-size: 20px 20px;
                background-position: center;
                background-repeat: no-repeat;

                span{
                    display: none;
                }

                &.all{
                    .icon-grid(@color-primary);
                }

                &.chicken{
                    .icon-chicken(fade(#000000, 80%));
                }

                &.drinks{
                    .icon-drinks(fade(#000000, 80%));
                }

                &.sandwiches{
                    .icon-sandwiches(fade(#000000, 80%));
                }

                &.desserts{
                    .icon-desserts(fade(#000000, 80%));
                }
            }
        }
    }

    .specials{
        .cards{
            &.card-1, &.card-2, &.card-3{
                flex: 1 0 100%;
            }
        }
    }

    footer{
        .container{
            flex-wrap: wrap;
            gap: 1em;

            .column-third{
                width: 100%;

                .logo{
                    display: none;
                }
            }
        }
    }
}

@media (max-width: 320px){
    .hero .container{
        .text{
            padding: 3em .8em;

            h4{
                width: 110px;
                padding: 6px;
                font-size: ceil(@font-size-h4 * 0.5);
            }

            h3{
                font-size: ceil(@font-size-h3 * 0.5);
            }

            h2{
                font-size: ceil(@font-size-h2 * 1.4);
            }
        }

        .img{
            background-size: 170%;
        }
    }

    .hightlights {
        padding: 2em 1em;
    }

    .specials{
        .cards{
            &.card-1, &.card-2, &.card-3{
                flex: 1 0 100%;
            }
        }
    }


    .special-menu  {
        .tabs ul.tab {
            width: 90%;

            li {
                padding: 1.5em 2.5em;
            }
        }
    }
}